<!--Customer Template-->
<div id="Customer">
    <div class="col-xs-6">
        <input class="form-control" ng-model="searchText" placeholder="Zoeken">
        <br>
        <div class="list-group">
            <button type="button" ng-repeat="customer in customers | filter:searchText" class="list-group-item "
                    ng-click="selectCustomer(customer)" track by $index>
                {{customer.firstname}} {{customer.lastname}}
            </button>
        </div>
    </div>
    <div class="col-xs-6">
        <form ng-submit="updateCustomer()" class="form-group" name="editCustomerForm" novalidate>
            <label for="FirstNameCustomer">Voornaam:</label>
            <input type="text" name="firstNameTempCustomer" class="form-control" ng-model="tempCustomer.firstname" id="FirstNameCustomer" required>
            <div ng-show="editCustomerForm.firstNameTempCustomer.$invalid && !editCustomerForm.firstNameTempCustomer.$pristine" class="alert alert-danger">Voornaam moet ingevuld zijn.</div>

            <br>
            <label for="LastNameCustomer">Achternaam:</label>
            <input type="text" class="form-control" ng-model="tempCustomer.lastname" id="LastNameCustomer">
            <br>
            <label for="sel0">Hotel</label>
            <select class="form-control" id="sel0" ng-model="tempCustomer.hotel">
                <option ng-repeat="hotel in hotels" value="{{hotel.id}}">{{hotel.name}}</option>
            </select>
            <br>
            <label for="Room">Kamernummer:</label>
            <input type="text" class="form-control" ng-model="tempCustomer.room" id="Room">
            <br>
            <label for="Date">Datum:</label>
            <input type="text" class="form-control" ng-model="tempCustomer.date" id="Date">
            <br>
            <div class="btn-group-lg">
            <button type="submit" class="btn btn-info" ng-disabled="editCustomerForm.$invalid">Opslaan</button>
            <button class="btn btn-danger" ng-click="resetFields()" id="resetButton">reset</button>
            </div>
        </form>
        <br>
        <button style="width: 79px;" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Nieuw</button>
        <button class="btn btn-danger" ng-click="deleteCustomer()">Verwijder Klant</button>

    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Nieuwe klant</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="newCustomerForm" ng-submit="addCustomer()" class="form-group">
                    <label for="FirstNameNewCustomer">Voornaam:</label>
                    <input type="text" class="form-control" ng-model="newCustomer.firstname" id="FirstNameNewCustomer">
                    <br>
                    <label for="LastNameNewCustomer">Achternaam:</label>
                    <input type="text" class="form-control" ng-model="newCustomer.lastname" id="LastNameNewCustomer">
                    <br>
                    <label for="sel1">Select hotel:</label>
                    <select class="form-control" id="sel1" ng-model="newCustomer.hotel">
                        <option ng-repeat="hotel in hotels" value="{{hotel.id}}">{{hotel.name}}</option>
                    </select>
                    <br>
                    <label for="NewCustomerRoom">Kamernummer:</label>
                    <input type="text" class="form-control" ng-model="newCustomer.room" id="NewCustomerRoom">
                    <br>
                    <label for="NewCustomerDate">Datum:</label>
                    <input type="text" class="form-control" ng-model="newCustomer.date" id="NewCustomerDate">
                    <br>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Opslaan</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

<script>
    $('#newCustomerForm').submit(function () {
        $('#myModal').modal('hide');
        var form = document.getElementById("newCustomerForm");
        form.reset();
    });
</script>